@media screen and (min-width:769px ){

    .boldH2{ 
        font-weight: bold;
    }
    .liHead{
        display: inline-block;
    }
    .alignTable{
        display: flex;
         justify-content: center;
         margin-bottom: 20px;
         margin-top: 20px;
    }

    .mainPadding{

        padding-left: 20px;
        padding-right: 20px;

    }
    .deskAlign{
        display: flex;
        justify-content: center;

    }

    .logo{
        display: flex;
        align-items: center;
    
    }
    .divLogo{

        display: flex;
        align-items: center;
    }
    .tableWidth{
        width: 70%;
    }
    .ass50Width{
        width: 48%;
        padding: 0.5em;
    }
    .containerVideo{

    display: flex;
    align-items: center;
    justify-content: center;
}

    .containerAside{    display: flex;
        justify-content: center;


    }
    .divAside{
        width: 33%;
        padding: 0.5em;
        border: 1px solid #c3c3c3;
        border-top: none;
        border-bottom: none;
        border-right: none;
    }


}