@media screen and (max-width: 768px){

        .boldH2{ 
            font-weight: bold;
        }
        .liHead{
            display: inline-block;
        }
        .alignTable{
            display: flex;
             justify-content: center;
             margin-bottom: 20px;
             margin-top: 20px;
        }

        .mainPadding{

            padding-left: 20px;
            padding-right: 20px;

        }
        
 

            
}